.container {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;

  @media (min-width: 992px) {
    min-width: 970px;
  }
}
