.col-4,
.col-8 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

@media (min-width: 992px) {
  .col-4 {
    width: 33.333333%;
    float: left;
  }

  .col-8 {
    width: 66.666667%;
    float: left;
  }
  .col-push-8 {
    right: 66.66666667%;
  }

  .col-pull-4 {
    left: 33.33333333%;
  }
}
